<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="Tests" Description="A test ruleset based on the Strict ruleset." ToolsVersion="16.0">
  <Include Path="strict.ruleset" Action="Default" />
  <Rules AnalyzerId="Microsoft.Analyzers.ManagedCodeAnalysis" RuleNamespace="Microsoft.Rules.Managed">
    <Rule Id="CA1305" Action="None" />
    <Rule Id="CA1707" Action="None" />
    <Rule Id="CA1822" Action="None" />
  </Rules>
  <Rules AnalyzerId="Microsoft.CodeAnalysis.CSharp.Features" RuleNamespace="Microsoft.CodeAnalysis.CSharp.Features">
    <Rule Id="IDE0022" Action="None" />
    <Rule Id="IDE1006" Action="None" />
    <Rule Id="IDE1006WithoutSuggestion" Action="None" />
  </Rules>
  <Rules AnalyzerId="StyleCop.Analyzers" RuleNamespace="StyleCop.Analyzers">
    <Rule Id="SA1122" Action="None" />
    <Rule Id="SA1300" Action="None" />
    <Rule Id="SA1401" Action="None" />
    <Rule Id="SA1652" Action="None" />
  </Rules>
</RuleSet>